.header{
    background-color: inherit;
    align-items: center;
    // padding: 40px 0px;
   
margin-bottom: 10px;
    button:first-child{
        
        text-decoration: none;
    }
}

/*  box-shadow: -1px 10px 12px -9px rgba(11,8,8,0.4);
-webkit-box-shadow: -1px 10px 12px -9px rgba(11,8,8,0.4);
-moz-box-shadow: -1px 10px 12px -9px rgba(11,8,8,0.4);  */