<section class="home--header">
    <div class="container">
        <div class="row home--header__body">
            <div class="col-md-6 home--header__body__text">
                <h1 class="d-inline-block">Crate your <h1 class="tw d-inline-block"></h1> CV </h1> 
                 <div class="home--header__body__text__utilities" >
                <ul>
                    <li> <i class="icofont-check"></i>Flexible and professional designs</li>
                    <li><i class="icofont-check"></i>No coding or website knowledge needed</li>
                    <li><i class="icofont-check"></i>Automatically mobile-optimized</li>
                    <li><i class="icofont-check"></i>Puts your CV online in minutes</li>
                </ul>
            </div>
            <div class="home--header__body__text__start mt-3" >
                <button routerLink="/main" class="btn btn-success col-12"> go </button>

            </div>
            </div>
            
            <div class="col-md-6">
                <div class="home--header__body__image">
                    <img src="../../../assets/header.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--


    <div class="mainContent">
        <div class="row">
        <div class="col-md-12 mainContent__header" >
            <h1 class="d-inline-block">Crate your <h1 class="tw d-inline-block"></h1> CV </h1>
        </div>
    </div>
    </div>
-->