
.home--header__body{
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column-reverse;

    }
    &__text{
        padding: 0;
        h1{
            color: gray;
            font-size: 40px;
        }
        &__utilities{
            ul{
                list-style: none;
                padding-left: 0;
                li{
                    margin-bottom: 15px;
                    font-size: 22px;
                    color: gray;
                    i{
                        color: white;
                        margin-right: 5px;
                        background-color: green;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
    &__image{
        img{
            width: 100%;
        }
        margin-bottom: 10px;

    }
}

