/* .form{
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    @media (max-width : 768px) {
        
        
    }
    .inside--form{
        display: flex;
        border: 1px solid gray;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        flex-direction: column;
        &__label{
        height: max-content;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        }

    }
    &__label{
        height: max-content;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        @media (min-width : 400px) {
            margin-bottom: 5px;
            width: 100%;
        }
        @media (min-width : 768px) {
          
        }
    }
}
*/

input.ng-invalid{
    border-left: 5px solid red;
}
input.ng-touched{
    border-left: 5px solid red;
}
input.ng-valid{
    border-left: 5px solid green;
}