<div class="container">
    <div class="row">
        <div class="col-md-6">
                <form action="submit" [formGroup]="data.personalData" class="form" aria-disabled="data.personalData.!valid">
        <h3>Basic information </h3>
        <div class="row">
            <label for="fullname" class="form__label  col-md-12 col-sm-12 col-12">
                Full name : <span *ngIf="fullname.invalid && fullname.touched">username is required</span>

                <input type="text" formControlName="fullname" class="form-control" aria-required="true">
            </label>

            
            <label for="jobtitle" class="form__label  col-md-12 col-sm-12 col-12">
                Job Title : <span *ngIf="jobtitle.invalid && jobtitle.touched">job title is required</span>
                <input type="text" formControlName="jobtitle" class="form-control">
            </label>
        </div>
            <form formArrayName="address" class="inside--form">
                <div class="row">
                    <label for="street" class=" inside--form__label col-md-12 col-sm-12 col-12">
                        Address : <span *ngIf="address.invalid && address.touched">address is required</span>

                        <input type="text" *ngFor="let item of data.address.controls;let i=index"
                            formControlName="street" class="form-control mb-2" [formControlName]="i">
                    </label>
                </div>
            </form>
            <div class="d-flex col-12 justify-content-between">
                 <form formArrayName="phone" class="w-50">
                    <label for="item w-100" >
                        phone : <span *ngIf="phone.invalid && phone.touched">phone is required</span>

                        <input type="phone" formControlName="phone" *ngFor="let item of data.phone.controls;let i=index"
                            [formControlName]="i" class="form-control">
                    </label>
            </form>
            <label for="birthDay" class="form__label w-50 ">
                birthday (optional)
                <input type="date" formControlName="birthDay" class="form-control ">
            </label>
            </div>
           

    </form>
        </div>
        <div class="col-md-6 forImage">
<img src="../../../../assets/personalbg.png" class="forImage__bg" alt="" srcset="">
<img src="../../../../assets/personalimg.png" class="forImage__img" alt="" srcset="">


        </div>
    </div>

    <button class="btn btn-warning mt-2" (click)="data.addaddress()">add new address</button>

    <button class="btn btn-warning my-3" (click)="data.addphone()">add more</button>

    <button (click)="data.submit()">test </button>
</div>