<div class="">
    <form action="submit" [formGroup]="data.contact">
        <div class="row">
            <label for="email" class="col-md-6 col-sm-12 col-12">
                email :
                <input type="text" formControlName="email" class="form-control">
            </label>
            <label for="github" class="col-md-6 col-sm-12 col-12">
                github :
                <input type="text" formControlName="github" class="form-control">
            </label>
            <label for="linkedin" class="col-md-6 col-sm-12 col-12">
                linkedin :
                <input type="text" formControlName="linkedin" class="form-control">
            </label>
        </div>

        <form formArrayName="phone">
            <div class="row">
                <label for="item-{{i}}" *ngFor="let item of data.phone.controls;let i=index"
                    class="col-md-6 col-sm-12 col-12">
                    phone-{{i + 1}}:
                    <input type="text" formControlName="phone" [formControlName]="i" class="form-control">
                </label>
            </div>
        </form>
        <button class="btn btn-warning my-3" (click)="data.addphone()">add more</button>


    </form>
</div>