<div class="container">
    <mat-horizontal-stepper>

        <mat-step label="Personal data" [completed]="data.personalData.valid">
            <app-personal></app-personal>
            <button [disabled]="!data.personalData.valid"  mat-button matStepperNext >next</button>
        </mat-step>
        <mat-step label="CONTACT" >
            <app-contact></app-contact>
            <button mat-button matStepperPrevious>prev</button>
            <button [disabled]="!data.contact.valid" mat-button matStepperNext >next</button>
        </mat-step>
        <mat-step label="EXPERIENCE">
            <app-experience></app-experience>
            <button mat-button matStepperPrevious>prev</button>
            <button mat-button matStepperNext>next</button>
        </mat-step>
        <mat-step label="Education">
            <app-education></app-education>
            <button mat-button matStepperPrevious>prev</button>
            <button mat-button matStepperNext>next</button>

        </mat-step>
        <mat-step label="Projects" *ngIf="data.Projectsection">
            <app-projects></app-projects>
            <button mat-button matStepperPrevious>prev</button>
            <button mat-button matStepperNext>next</button>

        </mat-step>
        <mat-step label="skills">
            <app-skills></app-skills>
            <button mat-button matStepperPrevious>prev</button>
            <button mat-button matStepperNext>next</button>

        </mat-step>
        <mat-step label="courses">
            <app-courses></app-courses>
            <button mat-button matStepperPrevious>prev</button>

            <button routerLink="/review" class="btn btn-success col-12"> ckeck </button>
        </mat-step>
    </mat-horizontal-stepper>
</div>